<%- include("header") -%> 

<div class="box">
    <h1 id="heading"> <%= listTitle %> </h1>
</div>

<div class="box">
    <% for(var i=0; i<newListItems.length; i++){ %> 

        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
        </div>
        
    <% } %> 

    <div class="item">
        <form action="/" method="post">
            <input type="text" name="newItem" id="newItem" placeholder="Type to add..." autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>
</div>

<%- include("footer") -%> 